<div class="text-center">
	<br/><br/><br/><br/><br/>
	<h1>Everything's awesome!</h1>
	<p>Your dashboard is ready to rock! you can start coding</p>
	<img src="https://www.atlassian.com/sc-shared/img/robots.gif" alt="" width="500">
</div>