<ul class="asidemenu nav nav-pills flex-column">
	<li class="nav-item">
		<a class="nav-link <%= active_class('/admin/users') %>" href="/admin/users">User Management</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Groups</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Roles</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Appearance</a>
	</li>
	<li class="nav-item">
		<a class="nav-link <%= active_class('/admin/system_info') %>" href="/admin/system_info">System Information</a>
	</li>
	<div class="dropdown-divider"></div>
	<li class="nav-item">
		<a class="nav-link" href="#">Settings</a>
	</li>
</ul>