<ul class="nav nav-pills flex-column">
	<li class="nav-item">
		<a class="nav-link <%= active_class('/')%>" href="/"><i class="icon material-icons">dashboard</i> Overview</a>
	</li>
	<li class="nav-item">
		<a class="nav-link <%= active_class('/servers')%>" href="/servers"><i class="icon material-icons">cloud_queue</i> Servers</a>
	</li>
	<li class="nav-item">
		<a class="nav-link <%= active_class('/scripts')%>" href="/scripts"><i class="icon material-icons">format_indent_increase</i> Scripts</a>
	</li>
	<li class="nav-item">
		<a class="nav-link <%= active_class('/admin/users')%>" href="/admin/users"><i class="icon material-icons">domain</i> Admin</a>
	</li>
</ul>