<div class="mt-2">
	<div class="card-body">
		<h2 class="main-title">New <%= singular_table_name.titleize %></h2>
		<%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
	</div>
</div>